@media only screen and (min-width:320px) {
  .button_back{
    position: absolute;
    left: 32px;
    right: 32px;
    top: 175px;
    bottom: 30px;
    background: #FFFFFF;
    box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }
  .logo{
    position: absolute;
    width: 300px;
    height: 71.43px;
    left: calc(50% - 300px/2);
    top: 39px;

    background: url(blazelogo.png);
    border-radius: 80px;
  }
  .storebtn{
    position: absolute;
    width: 260px;
    height: 50px;
    left: calc(50% - 260px/2);
    top: 200px;
    background: #8A44AB;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
  }
  .gamebtn{
    position: absolute;
    width: 260px;
    height: 50px;
    left: calc(50% - 260px/2);
    top: 275px;
    background: #8A44AB;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
  }
  .newsbtn{
    position: absolute;
    width: 260px;
    height: 50px;
    left: calc(50% - 260px/2);
    top: 350px;
    background: #8A44AB;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
  }
  .storetxt{
    position: absolute;
    width: 155px;
    height: 26px;
    left: calc(50% - 155px/2 + 4.5px);
    top: 210px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
  }
  .gametxt{
    position: absolute;
    width: 155px;
    height: 26px;
    left: calc(50% - 155px/2 + 4.5px);
    top: 285px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;

  }
  .newstxt{
    position: absolute;
    width: 155px;
    height: 26px;
    left: calc(50% - 155px/2 + 4.5px);
    top: 360px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;

  }
}
